.btn-secondary{
    margin-bottom: 10px;
    width:150px
}

.tooltip-inner {
    max-width: 350px !important;
    white-space: pre-line;
    text-align: left;
}

.graph_title {
    display: inline-block;
    padding-right:1px;
}
#mental_days_htr{
    display:none;
}
#physical_activity_htr{
    display:none;
}